@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
	--default-yellow: #e4bb23;
	--dark-yellow: #bc9a1d;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #eeeeee;
}

.header {
	background-image: url('../img/capa-madmax2.jpg');
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

.navbar {
	color: #fff;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 200px;
	padding-top: 15px;
}

.navbar-brand {
	display: flex;
	justify-content: center;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu ul {
	list-style: none;
	display: flex;
}

.navbar-menu li a {
	margin: 0 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.navbar-menu li a:hover {
	color: var(--default-yellow);
}

.navbar-profile {
	font-weight: bold;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.navbar-profile img {
	width: 45px;
	border-radius: 90px;
	margin: 10px;
}

.navbar-profile span {
	margin: auto;
}

.header-content {
	color: #fff;
	width: 950px;
	margin: 0 auto;
}

.header-content h2 {
	font-size: 65px;
}

.second-navbar {
	color: var(--default-yellow);
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-self: flex-start;
	align-items: center;
	margin: 0 200px;
	padding-top: 15px;
}

.second-navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-navbar-menu ul {
	list-style: none;
	display: flex;
}

.second-navbar-menu li {
	margin: 0 20px;
	font-weight: bold;
	cursor: pointer;
	padding-bottom: 20px;
}

.second-navbar-menu li a {
	text-decoration: none;
	color: var(--default-yellow);
}

.second-navbar-menu li:hover {
	border-bottom: 2px solid var(--default-yellow);
}

.line {
	height: 1px;
	border: none;
	color: #dfdfdf;
	background-color: #dfdfdf;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 80%;
}

.header-content p {
	font-size: 13px;
}

.header-content p > a {
	text-decoration: none;
	color:#fff;
	font-size: 13px;
}

.header-content p > a:hover {
	color: var(--dark-yellow);
}

.header-content a.btn {
	display: flex;
	align-items: center;
    width: fit-content;
	margin: 25px 0px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	padding: 10px 8px 10px 25px;
	border-radius: 40px;
	background-color: #f4d642;
}

.header-content a.btn > i{
	font-size: 25px;
	margin-left: 5px;
}

.header-content a.btn:hover {
	text-decoration: none;
	background-color: var(--default-yellow);
}	

.header-content .when {
	font-size: 15px;
	color: var(--dark-yellow);
}

.card:hover img{
	filter: brightness(0.5);
}

.card:hover .card-play {
	color: #fff;
	display: block;
}

.card-play {
	display: none;
}

i.fa.fa-play.card-play:hover {
	cursor: pointer;
	color: var(--dark-yellow);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 250px;
	margin: 15px;
	top: 0;
	left: 0;
	position: relative;
}

.card-info {
	font-size: 12px;
	padding: 3px;
	background-color: #fff;
	border-radius: 0px 0px 8px 8px;
	margin-top: -4px;
}

.card-info a {
	color: var(--default-yellow);
	text-decoration: none;
}

.card-info a:hover {
	text-decoration: underline;
}

.card-info i {
	font-size: 20px;
	color: #5a6367;
}

.card-info i:hover {
	cursor: pointer;
	color: red;
}

.category {
	text-decoration: none;
	color: var(--dark-yellow);
}

.rate {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
}

.card img {
	width: 250px;
	border-radius: 8px 8px 0px 0px;
	position: relative;
	top: 0;
	left: 0;
}

.card img:hover .play-container {
	display: block;
	color: var(--default-yellow);
}

.play-container i {
	color: #fff;
	font-size: 50px;
	position: absolute;
	top: 191px;
	left: 110px;
}

.play-container h3 {
	display: none;
	color: var(--dark-yellow) !important;
	font-size: 25px;
	position: absolute;
	width: 200px;
	text-align: center;
	top: 103px;
	left: 22px;
}

.card:hover .play-container h3 {
	display: block;
}

.play-container i:hover {
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.footer {
	background-color: white;
	height: 90px;
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .icon-container {
	margin: 20px 200px;
}

.icon-container a {
	text-decoration: none;
	color: currentColor;
}

.footer .container i {
	font-size: 2em;
	margin: 10px;
}
.footer .container i.facebook-icon:hover {
	cursor: pointer;
	color: #2c2cbb;
}

.footer .container i.twitter-icon:hover {
	cursor: pointer;
	color: #62b2c0;
}

.footer .container i.instagram-icon:hover {
	cursor: pointer;
	color: #c90c25;
}

.footer img{
	margin: 20px 200px;
}